load sections .text, .rodata, .data, .plt, .got.plt from file

malloc_base<32> := 0x7f000000 # arbitrary value

replace <calloc> (nmemb, size) by
  total<32> := size * nmemb
  alloc<32> := malloc_base
  #calloc initializes the memory with zeros
  for i<32> in 0 to total - 1 do
    @[malloc_base + i, 1] := 0
  end
  malloc_base := malloc_base + total
  return alloc
end

replace <malloc> (size) by
  alloc<32> := malloc_base
  malloc_base := malloc_base + size
  return alloc
end

replace <free> by
  return
end

replace <__assert_fail> by
  halt
end

replace <__libc_message_impl> by
  halt
end

replace <fwrite> by
  return
end

starting from <main>

with concrete stack pointer
secret global sec

halt at <exit>
explore all
