load sections .text, .rodata, .data, .bss, .plt, .plt.got, .got, .got.plt from file

malloc_base<32> := 0x7f000000 # arbitrary value
errno_slot<32> := 0x7efffff0

replace <calloc> (nmemb, size) by
  total<32> := size * nmemb
  alloc<32> := malloc_base
  #calloc initializes the memory with zeros
  for i<32> in 0 to total - 1 do
    @[malloc_base + i, 1] := 0
  end
  malloc_base := malloc_base + total
  return alloc
end

replace <malloc> (size) by
  alloc<32> := malloc_base
  malloc_base := malloc_base + size
  return alloc
end

replace <realloc> (ptr, size) by
  alloc<32> := malloc_base
  malloc_base := malloc_base + size
  return alloc
end

replace <free> by
  return
end

replace <__libc_assert_fail> by
  halt
end

replace <__libc_message> by
  halt
end

replace <fwrite> by
  return
end

replace <fopen> (filename, mode) by
  return malloc_base
end

replace <fread> (ptr, size, nmemb, stream) by
  return nmemb
end

replace <fgets> by
  return 0
end

replace <feof> by
  return 1
end

replace <fclose> (stream) by
  return 0
end

replace <printf> by
  return 0
end

replace <fprintf> by
  return 0
end

replace <__errno_location> by
  @[errno_slot, 4] := 0
  return errno_slot
end

replace <strcmp> by
  return 1
end

replace <strchr> by
  return 0
end

replace <getenv> by
  return 0
end

replace <access> by
  return 0xffffffff
end

replace <memcpy> (dest, src, n) by
  for i<32> in 0 to n - 1 do
    @[dest + i, 1] := @[src + i, 1]
  end
  return dest
end

replace <memset> (s, c, n) by
  for i<32> in 0 to n - 1 do
    @[s + i, 1] := c{7..0}
  end
  return s
end

replace <explicit_bzero> (s, n) by
  for i<32> in 0 to n - 1 do
    @[s + i, 1] := 0
  end
  return
end

starting from <main>

with concrete stack pointer
